* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Raleway', sans-serif;
}
/* Navbar */
#navbar {
   position: fixed;
   width: 100%;
   float: right;
   background: #8d93cc;
}
#navbar h1 {
   position: fixed;
   padding-top: 13px;
   font-size: 2rem;
   color: rgb(91, 146, 91);
}
#navbar ul {
   display: flex;
   float: right;
   list-style: none;
   margin: 5px;
}
#navbar ul li {
   margin: 1px;
   padding: 15px;
}
#navbar ul li a {
   text-decoration: none;
   color: rgb(91, 146, 91);
   font-weight: bold;
}
#navbar ul li a:hover {
   color: red;
}
#navbar ul li:nth-child(2) {
   color: green;
}
/* Navbar */
#navbar {
   position: fixed;
   width: 100%;
   float: right;
   background: #8d93cc;
}
#navbar h1 {
   position: fixed;
   padding-top: 13px;
   font-size: 2rem;
   color: rgb(91, 146, 91);
}
#navbar ul {
   display: flex;
   float: right;
   list-style: none;
   margin: 5px;
}
#navbar ul li {
   margin: 1px;
   padding: 15px;
}
#navbar ul li a {
   text-decoration: none;
   color: rgb(91, 146, 91);
   font-weight: bold;
}
#navbar ul li a:hover {
   color: red;
}
#navbar ul li:nth-child(2) {
   color: green;
}
/* Navbar */
.navbar {
   position: fixed;
   width: 100%;
   float: right;
   background: #8d93cc;
}
.navbar h1 {
   position: fixed;
   padding-top: 13px;
   font-size: 2rem;
   color: rgb(91, 146, 91);
}
.navbar ul {
   display: flex;
   float: right;
   list-style: none;
   margin: 5px;
}
.navbar ul li {
   margin: 1px;
   padding: 15px;
}
.navbar ul li a {
   text-decoration: none;
   color: rgb(91, 146, 91);
   font-weight: bold;
}
.navbar ul li a:hover {
   color: red;
}
.navbar ul li:nth-child(2) {
   color: green;
}
/* Image */
#showcase .content {
   background: url('https://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/solarsystem_0.jpeg') no-repeat fixed top/cover;
   width: 100%;
   height: 100vh;
}
#showcase .content h1 {
   padding: 325px 0 0 0;
   font-size: 4rem;
}
#showcase .content h5 {
   padding: 325px 0 0 0;
   text-align: center;
   font-size: 1rem;
}
#showcase .content h5 a {
   color: yellow;
   text-decoration: none;
   background-color: rgb(107, 167, 67);
   padding: 20px;
}
#showcase .content h4 {
   font-size: 2.5rem;
   padding: 20px;
}
#showcase .content h1, h4 {
   color: #fff;
   width: 100%;
   text-align: center;
   justify-content: center;
   align-items: center;
}
.showcase #content {
   background: url('https://upload.wikimedia.org/wikipedia/commons/c/cb/Planets2013.svg') no-repeat fixed top/cover;
   width: 100%;
   height: 100vh;
}
.showcase #content h1 {
   padding: 325px 0 0 0;
   font-size: 4rem;
}
.showcase #content h4 {
   font-size: 2.5rem;
   padding: 20px;
}
.showcase #content h1, h4 {
   color: #fff;
   width: 100%;
   text-align: center;
   justify-content: center;
   align-items: center;
}
/* Section */
#download {
   padding-top: 60px;
   background: gold;
}
#download h1 {
   font-size: 3rem;
   padding: 10px;
}
#download h2 {
   font-size: 2rem;
   padding: 10px;
}
#download a {
   display: flex;
   text-align: justify;
   align-items: center;
   justify-content: center;
   line-height: 1.4;
   padding: 5px;
   margin: 7px;
   font-size: 28px;
   text-decoration: none;
   background: #7780d1;
   color: #bb4141;
   border: none;
   border-radius: 5px;
}
#download a:hover {
   color: #7780d1;
   background: #bb4141;
   transition: all 1s ease-in-out;
}
#download p {
   font-weight: bold;
   font-size: 24px;
   padding: 10px;
}
#info {
   background: honeydew;
}
#info h1 {
   text-align: center;
   padding: 10px;
   font-weight: bold;
   font-size: 2rem;
   position: static;
}
#info p {
   text-align: justify;
   padding: 10px;
   font-weight: bold;
   font-size: 20px;
   position: static;
}
#info .planet {
   border-bottom: darkblue 4px solid;
}
#info .planet:nth-child(1) {
   border-top: darkblue 4px solid;
}
/* Footer */
footer p {
   padding: 20px;
   font-size: 20px;
   text-align: center;
   background: yellow;
   color: green;
   font-weight: bold;
}

/* Quiz */
#quiz {
   background: rgb(240, 255, 240);
}
#quiz .question label {
   margin: 10px;
   color: red;
   font-size: 20px;
}
#quiz .question input {
   margin: 10px;
   font-size: large;
}
.btn-dark {
   color: lightblue;
   background: darkred;
   font-weight: bold;
   padding: 10px;
   margin: 5px;
   border-radius: 5px;
}
.btn-dark:hover {
   background: darkblue;
   color: rgb(223, 109, 109);
   cursor: pointer;
}

/* Media Queries */
@media (max-width: 600px) {
   #navbar {
      position: static;
   }
   #navbar ul {
      display: block;
      float: none;
   }
   #navbar ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   #navbar ul li:nth-child(1) {
      padding-top: 70px;
   }
}